@model IEnumerable<Vigilant.Entities.Endpoint>
@{
	ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
	@Html.ActionLink("Create New", "Create")
</p>
<table>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Nickname)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IpAddress)
		</th>
		<th></th>
	</tr>
	@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Nickname)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.IpAddress)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.EndpointId }) |
				@Html.ActionLink("Details", "Details", new { id = item.EndpointId }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.EndpointId })
			</td>
		</tr>
 }
</table>
