@model IEnumerable<Vigilant.Entities.Receptor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrlCheck.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endpoint.Nickname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Frequency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastTestedAtUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCheckWasUnstable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastCheckWasCritical)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastResponseTimeInMilliseconds)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UrlCheck.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endpoint.Nickname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastTestedAtUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCheckWasUnstable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastCheckWasCritical)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastResponseTimeInMilliseconds)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReceptorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReceptorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReceptorId })
        </td>
    </tr>
}

</table>
